# ============================================
#  web/.env.local — carregado no container do Web
#  Copie: cp web/.env.example web/.env.local
# ============================================

# API
INTERNAL_API_URL=http://api:3002
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# WEBSOCKET
NEXT_PUBLIC_WS_URL=http://localhost:8080
